<div class="container center_div">
  <div class="d-flex container center_div" *ngFor="let battle of battles" (click) = "battleClick()">
    <div id="battle">
      <div>
        <h6>{{battle.location}}</h6>
        <h6>Ends on {{battle.endDate}}</h6>
      </div>
      <div class="timdiv">

          <div class="team1div d-flex flex-wrap">
            <div *ngFor="let char of battle.team1.characters">
              <img src="{{char.thumbnail.path}}.{{char.thumbnail.extension}}">
            </div>
          </div>

          <div class="team2div d-flex flex-wrap">
            <div *ngFor="let char of battle.team2.characters">
              <img src="{{char.thumbnail.path}}.{{char.thumbnail.extension}}">
            </div>
          </div>

      </div>

    </div>
  </div>
</div>