img {
    width: 100px;
}

#contentDiv {
   width: 50%;
   
}

#message {
   color: red;
}

p {
   text-align: center;
   margin-top: 10px; 
   font-size: 10pt;
}

button {

   float: none;
   margin-top: 10px;
   margin-bottom: 20px;
}

input {
   width: 175px;
}

h3 {
   margin-top: 10pt;
}

.team-div {
   border-color: black;
   cursor: pointer;
   margin-top: 0;
}

#form-div {
   margin-top: 0;
   width:  50%
}

div {
   text-align: center;
   margin: auto;
   margin-top: 0;
}

h3 {
   text-align: center;
}

#team1 {
   background-color: rgba(0, 0, 150, .7);
   width: 200px;
   height: 400px;
   color: white;
}

#team2 {
   background-color: rgba(150, 0, 0, .7);
   color: white;
   width: 200px;
   height: 400px;
}
