img {
    width: 100px;
}

#contentDiv {
   width: 50%;
}

p {
   text-align: center;
   margin-top: 10px; 
   font-size: 10pt;
}

button {
 
   float: none;
}

input {
   width: 200px;
}

.team-div {
   border-color: black;
   cursor: pointer;
}

div {
   text-align: center;
   margin: auto;
}

h3 {
   text-align: center;
}

#team1 {
   background-color: rgba(0, 0, 150, .7);
   width: 200px;
   height: 400px;
   color: white;
}

#team2 {
   background-color: rgba(150, 0, 0, .7);
   color: white;
   width: 200px;
   height: 400px;
}
